.textbox {
  display: flex;
  flex-direction: column;

  gap: 24px;
}

  .fitting1 {
    
    margin: 79px 500px;
  }


@media screen and (max-width: 480px) {
  .fitting1 {
    position: relative;
    margin: 110px 10px;
  }
}