.checkout {
    display: flex;

}

.Ist {
    width: 50%;
    margin: 5rem;

}

.sndPart {
    background-color: azure;
    width: 70%;
}

.Snd {

    margin: 5rem;
    margin-top: 20px;
    border-bottom: 1px solid silver;

    width: 70%;
    height: 350px;
    overflow: hidden;
}

.Snd:hover {
    overflow-y: scroll;
}

.CartPro1 {
    margin: 20px;
}


.Lcrumbs {
    display: flex;
    flex-direction: row;
}

.Lcrumbs p {
    text-align: center;
    text-transform: uppercase;
}

.shippingAde {
    display: flex;
    flex-direction: column;
    margin: '4px'
}

.SFeild {

    display: flex;
    margin: 4px;
}

.feild1 {
    margin: 6px;
}

.PChec {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.DESCH {
    display: flex;
    flex-direction: row;
    width: 100%;


}

.ValueCh {
    width: 200px;
    font-size: 22px;
    margin-top: 1rem;
}

.ValueCh1 {
    width: 100px;
    margin-left: 50px;
}

.CHsETT {
    display: flex;
    flex-direction: column;

    margin: 10px;
}

.imgCH {
    width: 120px;
    height: 140px;

}

.typeCH {
    margin-top: -1.3rem;

}
.shipCH{
    font-weight: 900;
    text-align: center;
}
.typeCH1 {
    margin-top: -1rem;

}
.sumbitCheck{
    display: flex;
    margin: 6px;
    margin-top: 26px;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.sumbitCheck button{
    width:50%;
    background-color: black;
    color: wheat;
 }
 .sumbitCheck p{
 display: flex;
 justify-content: space-between;
 font-size: 19px;
     
 }
.DisSec{
    width: 70%; margin: 5rem;
    margin-top: -55px;
    display: flex;
    flex-direction: row;
}
#disTEx{
  background-color: #fff;
 
}
#disTEx:hover{
    border:1px solid blue;
}
.disBtn{
    width: 20%;
    
    
    margin: 4px;
    border-radius: 4px;
  
    
}
.SubCh{  width: 70%; margin: 5rem;margin-top: -55px;
    display: flex;
    justify-content: space-between;
  font-weight: bold;
}
.loginInfo{
    margin: 10px;
}
.imageLogin{
    display: flex;
    flex-direction: row;
    align-items: center;
   box-shadow: 0px 0.9px 0px;
}
.imageLogin img{
    width: 60px;
    height: 60px;
}